project:
  type: website
  output-dir: docs

website:
  title: "furtherlin"
  navbar:
    right:
      - about.qmd
      - icon: github
        href: https://github.com/furtherlin42tw
format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css

editor: visual

execute:
  freeze: auto
  
